.countingTimer.countingTimer {
  position: absolute;
  left: 12px;
  top: 645px;
}
.icon {
  width: 100%;
  height: 100%;
}
.timer {
  color: #ff4539;
  font-size: 16px;
  font-family: Aleo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 34.9727%;
  right: 40.7104%;
  top: 56%;
  bottom: 20%;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
._451 {
  color: #ff4539;
  font-size: 48px;
  font-family: Aleo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 61.4754%;
  right: 0.8197%;
  top: 16%;
  bottom: 33.3333%;
  flex-direction: column;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 390px;
  height: 844px;
  flex-direction: column;
  align-items: flex-start;
}
.iMG_78261 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 844px;
  background-image:/* webpackIgnore: true */ url('/assets/iMG_78261.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle25 {
  position: absolute;
  left: 51px;
  top: 674px;
  width: 4px;
  height: 17px;
  border-radius: 2px;
  background-color: #ff4539;
}
.rectangle26 {
  position: absolute;
  left: 58px;
  top: 674px;
  width: 4px;
  height: 17px;
  border-radius: 2px;
  background-color: #ff4539;
}
